olist:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      port: 5432
      user: warehouse_user
      password: warehouse_pass
      dbname: warehouse
      schema: staging
      threads: 4
      keepalives_idle: 0